/* --------------------- */
/* NAV BAR               */
/* --------------------- */

nav {
    background: var(--background-secondary);
    color: var(--text-primary);
    border-bottom: 1px solid var(--color-neutral-700);
}
.sidebar-button {
    line-height: 1;
    color: var(--color-zinc-500);
}
.project-button {
    line-height: 1;
    color: var(--color-neutral-500);
}

/* --------------------- */
/* APP CONTAINER         */
/* --------------------- */
.panel {
    color: var(--color-white);
    background: color-mix(in srgb, var(--background-secondary) 75%, transparent);
    border: 2px solid var(--color-neutral-700);
    border-radius: var(--radius-lg);
}
.panel-title {
    background: color-mix(in srgb, var(--background-tertiary) 75%, transparent);
    border-radius: var(--radius-md) var(--radius-md) 0 0;
}
