@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    --background-primary: var(--color-black);
    --background-secondary: var(--color-neutral-950);
    --background-tertiary: var(--color-neutral-800);
    --text-primary: var(--color-white);
}

* {
    font-family: "Exo", sans-serif;
}

body {
    background-color: var(--background-primary);
    color: var(--text-primary);
    user-select: none;
}